.support{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;


    &> div {
        text-align: center;
        height: 100%;
        width: 100%;
        background-color: black;
        color : #fff;
    }

    #img2{
       background: url('../../../assets/suppor1.jpg');
       background-position: center center;
       min-height: 300px;
    }

    #img1{
        background: url('../../../assets//suppor2.jpg');
        background-size: cover;
        min-height: 300px;


    }


}

@media only screen and (max-width: 699px){
  .support{
    grid-template-columns: 1fr;
  }
}
