$main-color : #66C3FF;

.service-item{
    display: flex;
    flex-direction: column;

    img{
        width: 100px;
        height: 100px;
        margin-bottom: 30px;
    }

    .text{
        color:#6a6a6a;
        font-size: 18px;
        margin-top: 15px;
        line-height: 32px;
    }


}

@media only screen and (max-width: 1128px){
  .service-item{
      img{
        width: 70px;
        height: 70px;
      }

      .text{
        font-size: 16px;
      }
  }
}

@media only screen and (max-width: 851px){
  .service-item{
      img{
        width: 40px;
        height: 40px;
      }
      h2{
        font-size: 18px;
      }

      .text{
        font-size: 14px;
      }
  }
}
