<div class="news">

    <div class="first">
        <app-navbar></app-navbar>
        <h1>SDE BIM</h1>
    </div>

    <div class="second">
        <div class=boxes>
            <div class="main">
              <div class="title">
                <h2>Gestion des Plateformes collaboratives</h2>
              </div>
              <div class="imgBx">
                <img src='../../../assets/sde2.webp' alt="">
              </div>
              <div class="content">
                <p>Dans le monde de la construction, la superstructure d'un bâtiment regroupe l'ensemble des organes situés au-dessus de terre et composant l'ouvrage, c'est-à-dire les poteaux, les voiles, les poutres, les consoles ou encore les planchers.

Partie aérienne d'une construction, comme les niveaux supérieurs d'un immeuble allant du rez-de-chaussée aux étages (partie qui est donc située au-dessus de l'infrastructure, laquelle concerne la partie enterrée porteuse de la structure supérieure et composée d’ouvrages ou d’équipements, les fondations d’un immeuble, ainsi que les éventuels niveaux de sous-sol .</p>
              </div>
            </div>
        </div>
    </div>


</div>
