<div class="container">

  <div *ngIf="user;else not_found">
    <h1>Hey And Welcome Again</h1>
  <div class="jumbotron">
  <h1 class="display-4">Dashboard</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
    featured content or information.</p>
  <hr class="my-4">
  <p>This is for Smarden Company Using A mean stack inspiring By Mr Joma Tech</p>
  <div class="links">
    <a mdbBtn color="primary" size="lg" href="#" role="button" mdbWavesEffect>Dashboard</a>
    <button mdbBtn color="primary" size="lg" (click)="onClick()" role="button" mdbWavesEffect>Logout</button>
  </div>
</div>
</div>

<ng-template #not_found><h1 [ngStyle]="{'text-align':'center'}">You are Not authorized to be Here</h1></ng-template>
</div>
