<div class="main">
 <!--    <app-navbar></app-navbar>
    <h1>Actualité</h1>
    <div class='middle'>
        <div class='actu1'>
            <p class='title1'>Nos Dernières actualités : </p>
            <div class='info'>
                <img id='right' src="../../../assets/bright-arrow.png" alt="">
                <img id='left' src="../../../assets/bleft-arrow.png" alt="">
            </div>
            <app-news-box></app-news-box>
        </div>
    </div> -->

        <div class="first">
            <app-navbar></app-navbar>
            <h1>Actualite</h1>
        </div>
        <div class="second">
            <div class=boxes>
                <app-news-box class="box" *ngFor="let news of News" [news]="news"></app-news-box>
            </div>
        </div>





  </div>
