<div class="team">
	<section>
	<div class="container">
	<div class="card">
		<div class="content">
			<div class="imgBx"><img src="../../../assets/autocad.jpg"></div>
			<div class="contentBx">
				<h3>SomeoneFamous<br><span>Creative Designer</span></h3>
			</div>
		</div>
		<ul class="sci">
				<li style="--i:1">
					<a href="#"><img class="icon" src="../../../assets/twitter.png"></a>
				</li>
		</ul>
	</div>

		<div class="card">
		<div class="content">
			<div class="imgBx"><img src="../../../assets/autocad.jpg"></div>
			<div class="contentBx">
				<h3>SomeoneFamous<br><span>Creative Designer</span></h3>
			</div>
		</div>
		<ul class="sci">
				<li style="--i:2">
					<a href="#"><img class="icon" src="../../../assets/twitter.png"></a>
				</li>
		</ul>
	</div>


		<div class="card">
		<div class="content">
			<div class="imgBx"><img src="../../../assets/autocad.jpg"></div>
			<div class="contentBx">
				<h3>SomeoneFamous<br><span>Creative Designer</span></h3>
			</div>
		</div>
		<ul class="sci">
				<li style="--i:3">
					<a href="#"><img class="icon" src="../../../assets/twitter.png"></a>
				</li>
		</ul>
	</div>
</div>
</section>
</div>
