<div class="team">
	<section>
	<div class="container">
	<div class="card">
		<div class="content">
			<div class="imgBx"><img src="../../../assets/1.jpg"></div>
			<div class="contentBx">
				<h3>Said LEFLEJ<br><span>General Manager</span></h3>
			</div>
			<ul class="sci">
				<li style="--i:1">
					<a href="#"><img class="icon" src="../../../assets/twitter.png"></a>
					<a href="#"><img class="icon" src="../../../assets/facebook.png"></a>
					<a href="#"><img class="icon" src="../../../assets/linkedin.png"></a>
				</li>
		</ul>
		</div>
	</div>

		<div class="card">
		<div class="content">
			<div class="imgBx"><img src="../../../assets/1.jpg"></div>
			<div class="contentBx">
				<h3>Younes Harras<br><span>BIM Manager</span></h3>
			</div>
			<ul class="sci">
				<li style="--i:2">
					<a href="#"><img class="icon" src="../../../assets/twitter.png"></a>
					<a href="#"><img class="icon" src="../../../assets/facebook.png"></a>
					<a href="#"><img class="icon" src="../../../assets/linkedin.png"></a>
				</li>
		</ul>
		</div>
	</div>


		<div class="card">
		<div class="content">
			<div class="imgBx"><img src="../../../assets/1.jpg"></div>
			<div class="contentBx">
				<h3>Rachid Kohen<br><span>Project Manager</span></h3>
			</div>
			<ul class="sci">
				<li style="--i:3">
					<a href="#"><img class="icon" src="../../../assets/twitter.png"></a>
					<a href="#"><img class="icon" src="../../../assets/facebook.png"></a>
					<a href="#"><img class="icon" src="../../../assets/linkedin.png"></a>
				</li>
		</ul>

		</div>
			</div>


			<div class="card">
			<div class="content">
				<div class="imgBx"><img src="../../../assets/1.jpg"></div>
				<div class="contentBx">
					<h3>Sofia Amrani<br><span>Modélateur MEP</span></h3>
				</div>
				<ul class="sci">
					<li style="--i:3">
						<a href="#"><img class="icon" src="../../../assets/twitter.png"></a>
						<a href="#"><img class="icon" src="../../../assets/facebook.png"></a>
						<a href="#"><img class="icon" src="../../../assets/linkedin.png"></a>
					</li>
			</ul>

			</div>
				</div>


					<div class="card">
					<div class="content">
						<div class="imgBx"><img src="../../../assets/1.jpg"></div>
						<div class="contentBx">
							<h3>Mohammed Jaouad Sekoury<br><span>Cordonateur</span></h3>
						</div>
						<ul class="sci">
							<li style="--i:3">
								<a href="#"><img class="icon" src="../../../assets/twitter.png"></a>
								<a href="#"><img class="icon" src="../../../assets/facebook.png"></a>
								<a href="#"><img class="icon" src="../../../assets/linkedin.png"></a>
							</li>
					</ul>

					</div>
						</div>

						<div class="card">
						<div class="content">
							<div class="imgBx"><img src="../../../assets/1.jpg"></div>
							<div class="contentBx">
								<h3>Malika Amejjati<br><span>Modélateur MEP</span></h3>
							</div>
							<ul class="sci">
								<li style="--i:3">
									<a href="#"><img class="icon" src="../../../assets/twitter.png"></a>
									<a href="#"><img class="icon" src="../../../assets/facebook.png"></a>
									<a href="#"><img class="icon" src="../../../assets/linkedin.png"></a>
								</li>
						</ul>

						</div>
							</div>


</div>
</section>
</div>
