<div class="features">
  <div class="left">
    <div class="title">
      <h1>Nos Services :</h1>
    </div>
    <div class="cards">
      <div class="card">
        <div class="imgBx">
          <img src="../../../assets/actu.jpg" alt="">
        </div>
        <div class="content">
The design settings of testimonial slider for Joomla Website builder Gridbox is very flexible
        </div>

      </div>

      <div class="card">
        <div class="imgBx">
          <img src="../../../assets/actu.jpg" alt="">
        </div>
        <div class="content">
The design settings of testimonial slider for Joomla Website builder Gridbox is very flexible
        </div>

      </div>

      <div class="card">
        <div class="imgBx">
          <img src="../../../assets/actu.jpg" alt="">
        </div>
        <div class="content">
The design settings of testimonial slider for Joomla Website builder Gridbox is very flexible
        </div>

      </div>

      <div class="card">
        <div class="imgBx">
          <img src="../../../assets/actu.jpg" alt="">
        </div>
        <div class="content">
The design settings of testimonial slider for Joomla Website builder Gridbox is very flexible
        </div>

      </div>

    </div>
  </div>

  <div class="right">

  </div>
</div>
