<div class="features">
  <div class="container">
  <div class="card">
    <div class="face face1">
      <div class="content">
        <img src="../../../assets/service1.png" alt="">
        <h3>Solution CAO</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>SMARDEN, vous accompagne dans le choix, le déploiement, l’installation et le support de la solution de conception</p>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="face face1">
      <div class="content">
        <img src="../../../assets/service2.png" alt="">
        <h3>Formations & certifications</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>Une offre complète de formations CAO et BIM pour compléter le savoir-faire de vos équipes, en inter ou en intra-entreprises</p>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="face face1">
      <div class="content">
        <img src="../../../assets/service3.png" alt="">
        <h3>Conseil Stratégie</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>Audit, feuille de route, workshops collaboratifs, déploiement de projets pilotes</p>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>

</div>

</div>
