<div class="news">

    <div class="first">
        <app-navbar></app-navbar>
        <h1>News</h1>
    </div>

    <div class="second">
        <div class=boxes>
            <div class="main">
              <div class="title">
                <h2>{{News.title}}</h2>
              </div>
              <div class="imgBx">
                <img src='../../../assets/{{News.image}}' alt="">
              </div>
              <div class="content">
                <p>{{News.content}}</p>
              </div>
            </div>
        </div>
    </div>


</div>
