.btn{
    
   /* border:1px solid white;*/
    width: 100%;
    max-width: 200px;
    height: 70px;
    margin-top: 30px;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    

    img{
        width: 20px;
        height: 20px;
        color: white;
        margin-left: 10px;

        &.none{
            display: none;
        }
    }

    a{
        text-decoration: none;
        color: white;
    }

    &:hover{
        cursor: pointer;
        a {
            transform: scale(1.05);
            transition: all 0.1s ease-in-out;
        }
    }
}