<div class="landing">
    <div class="main-title">
        <div class="title1">L'innovation démarre</div>
        <div class="title2">avec un rêve et un plan</div>
    </div>
    <p>Nous ouffrons des solutions flexibles qui aident votre entrepeise a se developper</p>

    <app-button text="Nos services" imgUrl="../../assets/right-arrow.png" bgColor="rgb(96, 148, 181)"></app-button>

</div>


<div class="directions">
    <app-button imgUrl="../../assets/right-arrow.png" bgColor="rgb(96, 148, 181)"></app-button>
    <app-button imgUrl="../../assets/left-arrow.png" bgColor="#0F3E5C"></app-button>
</div>