
$main-color : #0F3E5C;

.landing{

        position: absolute;
        left: 40%;
        top:40%;
        transform: translate(-40%,-50%);
        min-width : 75%;


    .main-title{
        font-size: 65px;
        letter-spacing: 4px;
        font-weight: bolder;
        text-align: center;

       /* color: #fff;
        background-color: $main-color;*/

        .title1{
            color: #fff;
            background-color: rgba(102,195,255,0.3);
            margin-bottom: 5px;

        }

        .title2{
            color : $main-color;
            background-color: rgba(255,255,255,0.6);
        }


    }

    p{
        font-size: 24px;
        color: white;
        margin-top: 15px;
        text-align : center;
    }


}

@media (max-width : 1030px){
  .landing{
    width: 100%;

    .main-title{
      font-size: 50px;
      letter-spacing: 3px;
    }

    p{
      font-size: 20px;
    }
  }
}

@media (max-width : 555px){
  .landing{
    width: 100%;

    .main-title{
      font-size: 40px;
      letter-spacing: 2px;
    }

    p{
      font-size: 17px;
    }
  }
}


/* .directions{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
} */
