.inp{
    border : none;
    outline: none;
    width: 92%;
    height: 54px;
    padding: 10px 30px;
    border: 1px solid #e0e0e0;
    color: #616161;
    font-size: 18px;
    margin-bottom: 24px;
    border-radius: 40px;

    &:focus{
        border-color: #cecccc;
    }
}
