<div class='box'>
    <div class="header">
        <h2>Installation personnalisée des produits Autodesk 2022</h2>
        <p> avril 23, 2021 par Man and Machine France </p>
    </div>
    <img src="../../../assets/back4.jpg">
    <div class="footer">
        <p>3ds Max 2022 est enfin disponible ! Découvrez un environnement plus rapide et plus sécurisé, avec un accent principal sur l’efficacité grâce à des workflows de texturation et de rendu plus rapides et plus faciles à utiliser.  Le rendu avec Arnold en 2022 est meilleur que jamais, avec de nouvelles capacités pour créer des textures … </p>
        <button class="btn">Voir plus</button>
    </div>
</div>