<div class='container'>
    <div class='boxes'>
        <img src='../../../assets/autodesk-logo.webp' alt='#'>
        <h1>Promotion Autodesk</h1>
        <p>Economisez jusqu’à 25 % sur votre a abonnement Autodesk AutoCAD, AutoCAD LT, AutoCAD Revit LT Suite, 3ds Max ou Maya</p>
        <button>Voir plus</button>

    </div>
    <div class='boxes'>
        <img src='../../../assets/AutodeskProduct.png' alt='#'>
        <h1>Abonnement 3 ans aux produits Autodesk</h1>
        <p>L’abonnement 3 ans aux produits Autodesk vous offre un accès privilégié aux outils et aux technologies, un contrôle flexible et des informations pour vous aider ...</p>
        <button>Voir plus</button>

    </div>

</div>