.container{
    width: 200vh; 
    margin-left: 50px;
    display: flex; 
    .boxes{
        margin-right: 90px; 
        margin-left: 30px;
        width: 60vh; 
        height: 55vh; 
        margin-top: 30px;
        background: silver;
        img{
            height: 200px; 
            border: 2px solid silver; 
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%; 
        }
        h1{
            text-align: center;
        }
        p{
            margin : 10px; 
            font-weight: bold;
        }
        button{
            background-color: black; 
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 30px;
            cursor: pointer;
        }
    }
}