<div class="admin">
  <div class="left">
    <h2>Smarden Admin</h2>
    <div class="items">
      <h3>Dashboard</h3>
        <div class="links">
          <a href="main-products">Products</a>
          <a href="">Subjects</a>
          <a href="main-actualite">Actualite</a>
        </div>
    </div>
  </div>

  <div class="right">
    <div class="top">
      <div class="search">
        <app-input-form label="Seach here..." [ngStyle]="{'border-radius':'40px'}"></app-input-form>
      </div>

      <div class="info">
        <img src="../../../assets/notification.png" alt="">
      </div>
    </div>

    <div class="down">
        <div class="cards">
          <div class="product">
            <img src="../../../assets/production.png" alt="">
            <div>
              <h2>Poduits</h2>
              <h2>112</h2>
            </div>
          </div>

          <div class="actualite">
            <img src="../../../assets/new.png" alt="">
            <div>
              <h2>Actualite</h2>
              <h2>256</h2>
            </div>
          </div>
        </div>

        <div class="sub">
          <div class="subject">
            <img src="../../../assets/book.png" alt="">
            <div>
              <h2>Sujets</h2>
              <h2>127</h2>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
