<div class="contact">


    <div class="first">
            <app-navbar></app-navbar>
            <h1>Contact</h1>
        </div>
        <div class="second">
            <div class=boxes>
        <div class="main">


        <div class="map"><div style="width: 100%"><iframe width="100%" height="630" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Rue%20Al%20Ba%C3%A2kili,%20Rabat,%20Morocco+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div><div style="color: #333; font-size: 14px; font-family: Arial, Helvetica, sans-serif; text-align: right; padding: 10px;"></div>
        <div class="forme">
            <div class="first-map">
               <app-message></app-message>
            </div>

            <div class="info">
                <h3>Renseignements généraux</h3>
                <h4>Siège Rabat:</h4>
                <p>Rue Baakili Immeuble A1 appartement 2 Agdal – Rabat</p>
                <h4>Siège Tanger:</h4>
                <p>Place des Nations 6 Rue Méditerranée Edifice COFICOM Entrée D, Etage 1, N°6 et 7 – Tanger</p>
                <h4>Siège Casablanca:</h4>
                <p>Avenue ouled ziane Residence 2000 , 2éme etage , Appartement 5 –  Casablanca</p>
                <div class="tel">
                    <h3>Telephone</h3>
                    <p>(+212) 537 778 559</p>
                </div>
                <div class="media">
                    <h3>Médias Sociaux</h3>
                    <div class="social">
                        <li> <img src="../../../assets/facebook.png"> </li>
                        <li> <img src="../../../assets/sharethis.png"> </li>
                        <li> <img src="../../../assets/linkedin.png"> </li>
                        <li> <img src="../../../assets/twitter.png"> </li>
                        <li> <img src="../../../assets/message.png"> </li>
                    </div>
                </div>
            </div>
        </div>
    </div>

            </div>
        </div>




</div>
