<div class="products">
     <div class="first">
            <app-navbar></app-navbar>
            <h1>Produit</h1>
        </div>
        <div class="second">
            <div class=boxes>
                <div class="left">
                    <app-product-box></app-product-box>
                    <app-product-box></app-product-box>
                    <app-product-box></app-product-box>
                    <app-product-box></app-product-box>
                    <app-product-box></app-product-box>
                    <app-product-box></app-product-box>
                    <app-product-box></app-product-box>
                    <app-product-box></app-product-box>
                    <app-product-box></app-product-box>
                    <app-product-box></app-product-box>
                </div>

                <div class="right">
                    <div class="search">
                        <app-input-form label="Recherche de produits"></app-input-form>
                        <button class="btn">Rechercher</button>
                    </div>
                </div>
            </div>
        </div>
</div>