$main-color : #66C3FF;

    .main{
            background: rgba(0, 0, 0, 0.45);
        .main1{
            height: 40vh;
            z-index: 1;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.45), rgba(#969090, 0.57)),url("../../../assets/back2.webp");
            box-shadow:10px 20px 20px black;
        }

            h1{
                font-size: 100px;
                position: relative;
                top: 30px;
                left: 35%;
                color: white;
            }
            .middle{
                position: relative;
                bottom: 140px;
                background: #d1d9db;
                box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.3);
                padding-bottom: 50px;
                padding-left: 15px;
                margin: 30px 70px;
                height: 2000px;
                .prdct{
                    padding-top: 20px;
                    p{

                        font-size: 30px;
                        font-weight: 600;
                        border-left: 4px solid $main-color;
                        margin-bottom: 20px;

                        &:first-letter{
                            margin-left: 10px;
                            }
                    }
                }}


    }




.produit{
    margin-left: 60px; 
    .search{
        margin-bottom: 20px;
        input[type="text"]{
            height: 55px;  
            background-color: rgb(241, 241, 238);
            border: 2px solid silver; 
            font-size: 1.3em;
            padding: 10px; 
       }
       input:focus { 
        outline: none; 
        border:2px solid #719ECE;
        box-shadow: 0 0 5px #719ECE;
        }
       .btn1{
           background-color: #719ECE;
           border: none; 
           border-radius: 5px; 
           width: 55px; 
           height: 55px;
           cursor: pointer;
           
       }
    }
   .content{
       .a{ 
        display: inline-block ;
        width : 1290px; 
       }
       .achat{
           width: 300px;
           border-radius: 10px; 
           height: 30vh; 
           width: 40vh;
           position: absolute; 
           background: #eeeeee url('../../../assets/back3.png') no-repeat center center ;
           text-align: center;
           color: rgb(63, 62, 62);
           box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.3);
           h2{
                margin: 20px 0px;
                font-size: 3em;
                
           }
           button{
            background-color: #719ECE; 
            border: none;
            color: white;
            border-radius: 5px;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 30px;
            cursor: pointer;
            position: relative;
            top: 30px;
           }
       }
       .items{
           width: 850px;
        .item{
            display: inline-block;
            margin: 50px 20px;
            img{
                width: 150px;
                height: 150px;
            }
            button{
            
             background-color:#719ECE;  
             border-radius: 5px;
             border: none;
             color: white;
             padding: 15px 32px;
             text-align: center;
             text-decoration: none;
             display: inline-block;
             font-size: 16px;
             margin: 10px 0px;
             cursor: pointer;
            }
 
        }
       }
       
   }
}