<li>
   <!-- <a href="/{{item.toLocaleLowerCase()}}" class="item" [ngClass]="item == 'Accueil' ? 'active': '' "  *ngIf="(item != 'Services' && item != 'Accueil'); else loggedOut" > {{item}} </a> -->
   <a [routerLink]="['/',item]" class="item"  *ngIf="(item != 'Ingénierie' && item != 'Accueil'); else loggedOut"  [routerLinkActive]="['active']"> {{item}} </a>

</li>

<ng-template #loggedOut>
    <li *ngIf="item != 'Accueil';else third">
        <a [routerLink]="['/']" class="item" >{{item}}
        <div class="sub-menu1">
            <ul>
                <li><a href="#">Superstructure des batiments</a></li>
                <li><a href="#">Resaux des fluids pour batiment a tous usage</a></li>
                <li><a href="#">Reseaux d'electricite CFO / CFA</a></li>
                <li><a href="#">Etude de l'assainissement , VRD</a></li>
                <li><a href="#">Coordination et suivi des travaux de réalisation</a></li>
                <li><a href="#">Economie de la construction et</a></li>
            </ul>
        </div>
        </a>
    </li>


    
  </ng-template>

  <ng-template #third>
    <li>
        <a  [routerLink]="['/']" class="item" [routerLinkActiveOptions]="{exact:
true}"   [routerLinkActive]="['active']"> {{item}} </a>
    </li>
  </ng-template>