/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


.teams{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(-100deg,white 50%,black 50%);
  height: 100vh;
  z-index: 1;

  .container{
    /*margin-top: 15%;
    position: relative;
    color: white;
    text-align: center;


    .cards{
      display : flex;
      width: 85vw;
     justify-content: space-between;
      z-index: 100;
      margin: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,50%);

        .card{
          width: 25vw;
          height: 50vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: #333333;
          border-radius: 5px;
          padding: 10px;

          .imgBx{
            flex-basis: 40%;
            height: 40%;
            width: 40%;
              img{
                width: 80%;
                height: 80%;
                border-radius: 50%;
              }
          }

          .name{
            flex-basis: 20%;
            height: 20%;
            font-weight: bold;
            font-size: 18px;
          }

          .description{
            flex-basis: 40%;
            height: 40%;
          }

        }

    }
  }
}

*/
.teams{

  background: linear-gradient(-100deg,white 50%,black 50%);

.container{
  width: 90vw;
  margin: auto;
  height: 100vh;


.card{
  margin-top: 50%;
  width: 26vw ;
  height: 50vh;
  color: white;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #333333;
  text-align: center;


  .imgBx{
    flex-basis: 40%;
    height: 40%;
    width: 40%;
      img{
        width: 80%;
        height: 80%;
        border-radius: 50%;
        border: 3px solid white;
      }
  }

  .name{
    flex-basis: 20%;
    height: 20%;
    font-weight: bold;
    font-size: 18px;
  }

  .description{
    flex-basis: 40%;
    height: 40%;
  }
}

}

}
