
<!--
<div class="teams">
    <div class="container">
      <div class="cards">
        <div class="card">
          <div class="imgBx">
            <img src="../../../assets/1.jpg" alt="">
          </div>
          <div class="name">
            AYOUB KASSI
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          </div>
        </div>


        <div class="card">
          <div class="imgBx">
            <img src="../../../assets/1.jpg" alt="">
          </div>
          <div class="name">
            AYOUB KASSI
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          </div>
        </div>


        <div class="card">
          <div class="imgBx">
            <img src="../../../assets/1.jpg" alt="">
          </div>
          <div class="name">
            AYOUB KASSI
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          </div>
        </div>


      </div>
    </div>
</div>
-->
<div class="teams">

<div class="container">

<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
      <div class="card">
        <div class="imgBx">
          <img src="../../../assets/one.png" alt="">
        </div>
        <div class="name">
          Said LEFLEJ
        </div>
        <div class="description">
          General Manager
        </div>
      </div>
  </ng-template>

  <ng-template carouselSlide>
    <div class="card">
      <div class="imgBx">
        <img src="../../../assets/youness.jpeg" alt="">
      </div>
      <div class="name">
          Younes Harras
      </div>
      <div class="description">
        Technical Manager
      </div>
    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div class="card">
      <div class="imgBx">
        <img src="../../../assets/one.png" alt="">
      </div>
      <div class="name">
        Rachid Kohen
      </div>
      <div class="description">
        Project Manager
      </div>
    </div>
  </ng-template>

    <ng-template carouselSlide>
        <div class="card">
          <div class="imgBx">
            <img src="../../../assets/one.png" alt="">
          </div>
          <div class="name">
            Mohammed Jaouad Sekoury
          </div>
          <div class="description">
            Sales and Administrative Manager
          </div>
        </div>
    </ng-template>

</owl-carousel-o>
</div>
</div>



<!--
<div class="teams">
<div class="container">
<div class="cards">
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="card">
      <div class="imgBx">
        <img src="../../../assets/1.jpg" alt="">
      </div>
      <div class="name">
        AYOUB KASSI
      </div>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="card">
      <div class="imgBx">
        <img src="../../../assets/1.jpg" alt="">
      </div>
      <div class="name">
        AYOUB KASSI
      </div>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="card">
      <div class="imgBx">
        <img src="../../../assets/1.jpg" alt="">
      </div>
      <div class="name">
        AYOUB KASSI
      </div>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      </div>
    </div>
  </ng-template>
</owl-carousel-o>
</div>
</div>
</div>

-->
