
<!--
<div class="teams">
    <div class="container">
      <div class="cards">
        <div class="card">
          <div class="imgBx">
            <img src="../../../assets/1.jpg" alt="">
          </div>
          <div class="name">
            AYOUB KASSI
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          </div>
        </div>


        <div class="card">
          <div class="imgBx">
            <img src="../../../assets/1.jpg" alt="">
          </div>
          <div class="name">
            AYOUB KASSI
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          </div>
        </div>


        <div class="card">
          <div class="imgBx">
            <img src="../../../assets/1.jpg" alt="">
          </div>
          <div class="name">
            AYOUB KASSI
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          </div>
        </div>


      </div>
    </div>
</div>
-->
<div class="teams">

<div class="container">

<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
      <div class="card">
        <div class="imgBx">
          <img src="../../../assets/1.jpg" alt="">
        </div>
        <div class="name">
          AYOUB KASSI
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        </div>
      </div>
  </ng-template>

  <ng-template carouselSlide>
    <div class="card">
      <div class="imgBx">
        <img src="../../../assets/back1.jpg" alt="">
      </div>
      <div class="name">
        MERYEM BENSAID
      </div>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      </div>
    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div class="card">
      <div class="imgBx">
        <img src="../../../assets/actu.jpg" alt="">
      </div>
      <div class="name">
        MEHDI 
      </div>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      </div>
    </div>
  </ng-template>

    <ng-template carouselSlide>
        <div class="card">
          <div class="imgBx">
            <img src="../../../assets/2.jpg" alt="">
          </div>
          <div class="name">
            DOHA AYOUGIL
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          </div>
        </div>
    </ng-template>

</owl-carousel-o>
</div>
</div>



<!--
<div class="teams">
<div class="container">
<div class="cards">
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="card">
      <div class="imgBx">
        <img src="../../../assets/1.jpg" alt="">
      </div>
      <div class="name">
        AYOUB KASSI
      </div>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="card">
      <div class="imgBx">
        <img src="../../../assets/1.jpg" alt="">
      </div>
      <div class="name">
        AYOUB KASSI
      </div>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="card">
      <div class="imgBx">
        <img src="../../../assets/1.jpg" alt="">
      </div>
      <div class="name">
        AYOUB KASSI
      </div>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      </div>
    </div>
  </ng-template>
</owl-carousel-o>
</div>
</div>
</div>

-->
